etc/ssl/
data/*
.env
*.log
*.pem
node_modules/

wp/*
!wp/wp-content
wp/wp-content/index.php

wp/wp-content/plugins/*
!wp/wp-content/plugins/real-blocks

wp/wp-content/uploads
wp/wp-content/upgrade

wp/wp-content/themes/*
!wp/wp-content/themes/stlloft
